extends layout.pug
append head
  script(defer src="javascript/delete_posts.js" type="module") 
block content
  h1 all of the posts

  ul 
    each post in posts 
      li
        p=post.title
        p=post.body
        p=post.id
        button(class='delete-button' data-postid=post.id) Bake it away!!!!
        //- form(action=`/posts/${post.id}/delete` method='post')
        //-   input(type="submit", value="Bake it Away")
